AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# Airflow local
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Firebird local
FIREBIRD_CLIENT_LIBRARY=C:\Program Files\Firebird\Firebird_5_0\fbclient.dll
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=masterkey
FIREBIRD_HOST=localhost
FIREBIRD_PORT=3055
FIREBIRD_DATABASE=dataset/BANCO_FIREBIRD.FB5
